
<!-- enctype="multipart/form-data" es lo que nos permite subir un archivo al servidor -->
<form  action="/form" method="POST" enctype="multipart/form-data">
  <label for="imagen" >Imagen: </label>
  <input type="file" name="imagen" id="imagen" required>
  <label for="nombre">nombre: </label>
  <input type="text" name="nombre" id="nombre" required>
  <label for="direccion">direccion: </label>
  <input type="text" name="direccion" id="direccion" required>
  <label for="pais">pais: </label>
  <input type="text" name="pais" id="pais" required>
  <label for="telefono">telefono: </label>
  <input type="text" name="telefono" id="telefono" required>
  <label for="website">website: </label>
  <input type="text" name="website" id="website" >
  <input type="submit" value="Subir" />
  
</form>

{{#if data.mensaje}}
<p>{{data.mensaje}}</p>
{{/if}}