<form  action="/equipo/{{data.id}}/editar" method="POST" enctype="multipart/form-data">
  <label for="imagen" >Imagen: </label>
  <input type="file" name="imagen" id="imagen" >
  <label for="nombre">nombre: </label>
  <input type="text" name="nombre" id="nombre" >
  <label for="direccion">direccion: </label>
  <input type="text" name="direccion" id="direccion" >
  <label for="pais">pais: </label>
  <input type="text" name="pais" id="pais" >
  <label for="telefono">telefono: </label>
  <input type="text" name="telefono" id="telefono" >
  <label for="website">website: </label>
  <input type="text" name="website" id="website" >
  <input type="submit" value="Subir" />
  
</form>