<!DOCTYPE html>
<html lang="en">
<style>
  .escudo-equipo {
    height: 250px;
  }

  td {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;

  }

  th {
    --bs-bg-opacity: 1;
    background-color: grey !important;
  }

  table {
    margin-left: 20px;
    width: 97% !important;
    margin-top: 20px;
  }

  .container-imagen {
    align-items: center;
    text-align: center;
  }

  .titulo {
    margin-top: 30px;
    font-size: 100px;

  }

  .container-buttons button {
    margin-left: 20px;
  }

  .container-datos {
    display: grid;
  }

  .filas {
    margin-top: 5px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../estiloHome.css">
  <title>equipo</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-danger" id="headerNav">
      <div class="container-fluid">
        <a class="navbar-brand d-block d-lg-none" href="#">
          <img src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" height="80" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="/" onclick="window.location.href ='/'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/tarea2/frontApi/templates/form_agregar.html"
                onclick="window.location.href ='tarea2/frontApi/templates/form_agregar.html'">Agregar equipos</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link mx-2" href="#">
                <img src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                  height="80" />
              </a>
            </li>


          </ul>
        </div>
      </div>
    </nav>



  </header>

  <main>
    <div class="main-body">
      <h1></h1>
      <div class="container-imagen">
        <img src="#" alt="" class="escudo-equipo">
        <h1 class="titulo"></h1>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Informacion</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>Fundacion</td>
            <td id="fundacion"> </td>
          </tr>
          <tr>

            <td> Direccion</td>
            <td id="direccion"> </td>
          </tr>
          <tr>

            <td> Telefono</td>
            <td id="telefono"> </td>
          </tr>
          <tr>

            <td> Website</td>
            <td><a href="" id="website"></a></td>
          </tr>
          <tr>

            <td>Email</td>
            <td><a id="email" href="mailto:"></a> </td>
          </tr>
          <tr>
            <td> Estadio</td>
            <td id="estadio"></td>
          </tr>

        </tbody>
      </table>

      <div class="container-buttons">
        <button class="borrar btn btn-primary">Borrar Equipo</button>
        <button class="Editar btn btn-primary">Editar Equipo</button>
      </div>

    </div>


  </main>

  <div id="ventanaModal" class="modal">
    <div class="modal-content modal__modal-content">
      <span class="close ">&times;</span>

      <p></p>
      <div id="modal-info" class="modal__modal-info" style="display: flex; flex-direction: row; ">
        <div class="container-datos">
          <table class="table">
            <tbody>
              <tr>
                <td><label >imagen: </label></td>
                <td>
                  <form id="formulario-subir" method="post" enctype="multipart/form-data">    
                    <input type="file" name="imagen" id="imagen">
                    <td><button class="editar editar-imagen" type="submit">Subir</button></td>
                  </form>
                </td>
              </tr>
              <tr>
                <td><label for="nombre">nombre: </label></td>
                <td><input type="text" name="nombre" id="nombre"></td>
                <td><button class="editar editar-nombre">Editar</button></td>
              </tr>
              <tr>
                <td><label for="direccion">direccion: </label></td>
                <td><input type="text" name="direccion" id="direccion"></td>
                <td><button class="editar editar-direccion">Editar</button></td>
              </tr>
              <tr>
                <td><label for="telefono">telefono: </label></td>
                <td><input type="text" name="telefono" id="telefono"></td>
                <td><button class="editar editar-telefono">Editar</button></td>
              </tr>
              <tr>
                <td><label for="email">email: </label></td>
                <td><input type="text" name="email" id="email"></td>
                <td><button class="editar editar-email">Editar</button></td>
              </tr>
              <tr>
                <td><label for="website">website: </label></td>
                <td><input type="text" name="website" id="website"></td>
                <td><button class="editar editar-website">Editar</button></td>
              </tr>
              <tr>
                <td><label for="fundacion">fundacion: </label></td>
                <td><input type="text" name="fundacion" id="fundacion"></td>
                <td><button class="editar editar-fundacion">Editar</button></td>
              </tr>
              <tr>
                <td><label for="cancha">: cancha: </label></td>
                <td><input type="text" name="cancha" id="cancha"></td>
                <td><button class="editar editar-cancha">Editar</button></td>
              </tr>
            </tbody>



        </div>
      </div>


    </div>
  </div>


</body>
<script src="../src/equipo.js" type="module"></script>

</html>